[submodule "2018/cohort2/Math of Intelligence/Week1/2018/cohort2/Math of Intelligence/Week1/Classifying_Data_Using_a_Support_Vector_Machine"]
	path = 2018/cohort2/Math of Intelligence/Week1/2018/cohort2/Math of Intelligence/Week1/Classifying_Data_Using_a_Support_Vector_Machine
	url = https://github.com/llSourcell/Classifying_Data_Using_a_Support_Vector_Machine.git
[submodule "2018/cohort2/Math of Intelligence/Week1/Week1/Classifying_Data_Using_a_Support_Vector_Machine"]
	path = 2018/cohort2/Math of Intelligence/Week1/Week1/Classifying_Data_Using_a_Support_Vector_Machine
	url = https://github.com/llSourcell/Classifying_Data_Using_a_Support_Vector_Machine.git
[submodule "2018/cohort2/Math of Intelligence/Week1/w1/Intro_to_the_Math_of_intelligence"]
	path = 2018/cohort2/Math of Intelligence/Week1/w1/Intro_to_the_Math_of_intelligence
	url = https://github.com/llSourcell/Intro_to_the_Math_of_intelligence.git
